* {
  Margin:0;
  Padding:0;
  Border:0;
}

html {
  height: 100vh;
  width: 100vw;
  margin: 0em;

}

body {
  margin: 0em;
  background-color: #708aa9;
  color: rgba(255, 255, 255, .75);
}

.hidden {
  display: none !important;
}
/* login page */
.navigation-bar {
  background-color: lightgrey;
  position: fixed;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 4.25em;
  left: 0
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0em;
  padding: 0em;
}

#logo {
  display: flex;
  position: fixed;
  height: 4em;
  width: 3em;
  margin-left: 1em
}

.dropdown-menu,
.icons {
  height: 4em;
  width: 3em;
  padding: 0 1em;
  margin: 0 .5em 0 .5em;
  text-align: center;
}

.sneaker {
  height: 3.5em;
}

.water:hover {
  content: url("../assets/imgs/water-glass-blue.png");
}

.sneaker:hover {
  content: url("../assets/imgs/sneakers-red.png")
}

.bed:hover {
  content: url("../assets/imgs/empty-bed-purple.png")
}


.icons:hover {
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.dropdown-menu:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  background-color: lightgrey;
  cursor: pointer;
  height: 100%;
}

.dropdown-item {
  font-size: 1.25em;
  border: none;
}

.dropdown-item:hover {
  box-shadow: inset 0px 0px 4px
}

.welcome-page {
  text-align: center;
  left: 50%;
  top: 30%;
  padding: 2em 5em;
}

.welcome-image {
  margin-top: 4em;
}

h2 {
  font-size: 3em;
  margin-top: 0em;
}

.username-input {
  height: 2em;
  width: 20em;
  border-radius: .25em;
  background-color: #708aa9;
  font-size: 1.5em;
  opacity: 95%;
}

.username-input::placeholder{
  color: #ffffff;
  font-size: 1em;
  opacity: 50%;
}

.submit-button {
  outline: none;
  height: 3em;
  width: 15em;
  border-radius: 1em;
  background-color: #899991;
  margin-top: 1em;
  font-size: 1.25em;
}

/* hydration page */
.hydration-page,
.display-page{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas:
  "friendsbox weeklybox dailybox"
  "friendsbox chartbox infobox"
  "friendsbox chartbox logobox";
  width: 100vw;
}

.friends-sidebar {
  background-color: #899991;
  grid-area: friendsbox;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  height: 85vh;
  margin-top: 5.25em;
  margin-left: 1em;
  overflow: auto;
  border-radius: 1em;
}

.friends-title {
  margin-top: .125em;
  font-size: 3em;
  margin-bottom: .125em;
}

.logo-man {
  grid-template: infobox;
  height: 16em;
  width: 20em;
  margin: 1.5em;
  margin-left: 2.5em;
  align-self: center;
}
.friend-section {
  align-content: flex-start;
}

.user-icon {
  height: 3em;
  width: 3em;
  margin: 0em;
  margin-top: 1em;
}

.friend-name {
  font-size: 2em;
  height: 1em;
}

.friend-info {
  height: 2em;
  margin-bottom: 1em;
}

.chart-container {
  padding: .5em;
  width: 100%;
  grid-area: chartbox;
}

.circle-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.daily {
  grid-area: dailybox;
}

.weekly {
  grid-area: weeklybox;
  display: flex;
  justify-content: space-around;
}

.other {
  grid-area: weeklybox;
  display: none
}

.circle-display {
  height: 19em;
  width: 19em;
  border-radius: 15em;
  background-color: #899991;
  margin-top: 5.25em;
  /* position: fixed; */
}

.info-text {
  font-size: 5.5em;
  margin-top: 1em;
}
