* {
  Margin:0;
  Padding:0;
  Border:0;
  font-family: 'Inter', sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
  margin: 0em;
  background-color: rgba(112, 138, 169, .75);
  color: rgba(255, 255, 255, .95);
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0em;
}

.hidden {
  display: none !important;
}
/* login page */
.navigation-bar {
  background-color: lightgrey;
  position: fixed;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 4.25em;
  left: 0;
  z-index: 3
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0em;
  padding: 0em;
}

#logo {
  display: flex;
  position: fixed;
  height: 4em;
  width: 3em;
  margin-left: 1em
}

#date {
  display: flex;
  justify-content: flex-start;
  height: 2.5em;
  width: 9.7em;
  margin: 1em;
  border: solid #708aa9;
  border-radius: 2em;
  align-self: center;
}

.dropdown-menu,
.icons {
  height: 4em;
  width: 3em;
  padding: 0 1em;
  margin: 0 .5em 0 .5em;
  text-align: center;
}

.activity {
  height: 3.5em;
}

.hydration:hover {
  content: url("../assets/imgs/water-glass-blue.png");
}

.activity:hover {
  content: url("../assets/imgs/sneakers-red.png")
}

.sleep:hover {
  content: url("../assets/imgs/empty-bed-purple.png")
}


.icons:hover {
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.dropdown-menu:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  background-color: lightgrey;
  cursor: pointer;
  height: auto;
  width: auto;;
  color: #708aa9;
  border-bottom-right-radius: .25em;
  border-bottom-left-radius: .25em;
}

.dropdown-item {
  font-size: 1.25em;
  padding: .35em;
  border: none;
}

.dropdown-item:hover {
  box-shadow: inset 0px 0px 4px
}

.welcome-page {
  text-align: center;
  left: 50%;
  top: 30%;
  padding: 2em 5em;
}

.welcome-image {
  height: 35%;
  width: 45%;
  margin-top: 4em;
}

h2 {
  font-size: 3em;
  margin-top: 0em;
}

.username-input {
  height: 7.25vh;
  width: 30vw;
  border-radius: .25em;
  background-color: #708aa9;
  color: inherit;
  font-size: 1.5em;
  opacity: 95%;
}

.username-input::placeholder{
  color: #ffffff;
  font-size: 1em;
  opacity: 50%;
}

.submit-button {
  outline: none;
  height: 7.25vh;
  width: 15vw;
  border-radius: 1em;
  background-color: #899991;
  color: inherit;
  margin-top: 1em;
  font-size: 1.25em;
}

/* main-page */
.main-page {
  height: 100vh;
  width: 100vw;
}

.main-message {
  margin-top: 1.25em;
  font-size: 3em;
  text-align: center;
  width: 100vw;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.main-image {
  height: 38em;
  width: 49em;
  align-self: center;
}

#hydration2 {
  position: absolute;
  top: 43%;
  left: 28%;
  transform: scale(1.5)
}

#activity2 {
  position: absolute;
  top: 22%;
  left: 47%;
  transform: scale(1.5)
}

#sleep2 {
  position: absolute;
  top: 40%;
  right: 28%;
  transform: scale(1.5)
}

/* info page */
.sleep-page,
.activity-page,
.hydration-page,
.display-page{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-template-rows: 2fr 2fr;
  grid-template-areas:
  "friendsbox weeklybox weeklybox dailybox"
  "friendsbox chartbox chartbox logobox";
}

.friends-sidebar {
  background-color: #899991;
  grid-area: friendsbox;
  min-width: 15%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  height: 85vh;
  margin-top: 5.25em;
  margin-left: 1em;
  overflow: auto;
  border-radius: 1em;
}

.friends-title {
  margin-top: .125em;
  font-size: 3em;
  margin-bottom: .125em;
  text-decoration: underline;
}

.logo-man {
  grid-template: infobox;
  width: 100%;
  min-width: 25%;
  margin: 1.5em;
  margin-left: 2.5em;
  align-self: flex-start;
}

.friend-section {
  align-content: flex-start;
}

.user-icon {
  height: 3em;
  width: 3em;
  margin: 0em;
  margin-top: 1em;
}

.friend-name {
  font-size: 2em;
  height: 1em;
}

.friend-info {
  height: 2em;
  margin-bottom: 1em;
}

.chart-container {
  padding: .5em;
  /* width: 100%; */
  grid-area: chartbox;
  align-self: flex-start;
}

.circle-wrapper {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.daily {
  grid-area: dailybox;

  width: 100%
}

.weekly {
  grid-area: weeklybox;
  display: flex;
  justify-content: space-around;

  width: 100%
}

/* .other {
  grid-area: weeklybox;
  display: none
} */

.circle-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  border-radius: 15em;
  background-color: #899991;
  margin-top: 6.3em;
  min-width: 19em;

}

/* Specific Info Styling*/

.hydration-widget {
  background-color: #7190B9;
}

.activity-widget {
  background-color: #C27382;
}

.sleep-widget {
  background-color: #967BB6;
}

.info-text {
  font-size: 4em;
  font-weight: bolder;
}

p {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
}

/*user info card*/
.user-info {
  font-size: 1.3em;
  line-height: 2.5;
  text-align: left;
  height: 100%
}

.info-card {
  position: fixed;
  padding: 1em;
  left: 35%;
  top: 25%;
  width: 30%;
  /* height: 45%; */
  z-index: 5;
  background-color: #899991;
  text-align: center;
  border-radius: 1em;
  box-shadow: 0 0 5px 2px black
}

.info-header {
  text-decoration: underline;
  font-size: 2em
}

.exit-menu {
  position: fixed;
  left: 65.5%;
  top: 25.5%
}

.exit-menu:hover {
  cursor: pointer;
  transform: {scale(1.1)}
}

.blur {
  filter:blur(5px);
}

@media screen and (max-width: 768px) {
  .sleep-page,
  .activity-page,
  .hydration-page,
  .display-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .friends-sidebar {
    margin-top: 6.25em;
    margin-bottom: 2em;
    overflow: visible;
    flex-direction: row;
    height: 9em;
    justify-content: center;
    width: 45em;
  }

  .friends-title {
    display: none
  }

  .friend-info {
    justify-content: center;
    font-size: .75em;
    width: 75%;
    margin: auto;
  }

  .user-icon {
    margin-top: .35em
  }

  .friend-name {
    transform: scale(.75)
  }

  .chart-container {
    align-self: center;
    transform: scaleY(1.5, 1.5);
    height: 376px;
    width: 752px
  }

  .logo-man {
    transform: scale(.75);
    align-self: center;
  }
}


@media screen and (max-width: 414px) {
  .sleep-page,
  .activity-page,
  .hydration-page,
  .display-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .friends-sidebar {
    margin-top: 5.25em;
  }

  .chart-container {
    height: 376px;
    width: 752px
  }
}
